h1 {

	color: red;
}

body{
	margin: auto;
}



#header {

	color: blue;
    width: 1300px;
    margin: auto;
    height: 60px;
    box-shadow: 0 0 9px rgba(0,0,0,.24);
}

.pinbot {

	color: #b4cbd0;
    font-size: 40px;
    padding-left: 15PX;
}

.chaos {

    color: #ebf0f1;
    font-size: 50px;
}
.chaos-out {
	display: inline-block;
    float: right;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: black;
    color: white;
    margin-right: 55px;
}
}


#filter_form
{
    height: 212px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 20px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    background: #ebf0f1;
}
.chaos-list{
	float: left;
    margin-right: 20px;
}

.chaos-list-title{
	display: block;
	margin-top: 6px;
	margin-right:0px;
	margin-bottom:4px;
	margin-left:0px;
	color: #607d8b;
}

.btn .dropdown-toggle .btn-defalut{
	width: 96px;
	height:30px;
}

.chaos-list.chaos-job-place .dropdown-toggle {
   width: 94px;
    height: 30px;
    border: 1px solid #cfd8dc;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    margin-top: 5px;
}

.caret{
	width: 30px;
	height:30px;
}

.chaos-list .bootstrap-select.btn-group .dropdown-menu {
    border-radius: 10px;}

.chaos-list .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    margin-top: -1px;}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;}


.pull-left {
    float: left!important;}


.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.open.dropdown-menu {
    display: block;
}


}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}

.bootstrap-select.select {
    position: absolute!important;
    bottom: 0;
    left: 50%;
    width: .11px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none;}

.selectpicker{
    width: 110px;
    height: 40px;
    border-radius: 3px;}


.form-control{
    height: 30px;
    border-radius: 3px;
}


.chaos-list.chaos-time input {
    width: 128px;
    height: 30px;
    border: 1px solid #cfd8dc;
    border-radius: 10px!important;
    outline: none;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    }

.chaos-clear-right{
    margin:0;
}


.selectpicker-in{
    border-radius: 3px;
    width: 150px;
    height: 40px;
}

.form-control {
    height: 30px;
    border-radius: 3px;
    width: 150px;
}


#summary
{
	margin: auto;
    width: 1200px;
    height: 20px;
    margin-top: 25px;
    box-shadow: 0 0 9px rgba(0,0,0,.24);
    padding: 12px;
    border-radius: 5px;
    background: #ebf0f1;
    font-size: 14px;

}


}
.click_pages
{
	margin: 30px;
    width: 990px;
    height: 20px;
    margin-top: 25px;
    box-shadow: 0 0 9px rgba(0,0,0,.24);
    padding: 12px;
    border-radius: 5px;
    #background: #ebf0f1;
    font-size: 14px;

}

.paginators{
    margin: 20px 30px;
}

.page-left span {
    display: block;
    float: left;
    height: 34px;
    margin: 0 20px;
    line-height: 34px;
}

.close{
    float: right;
}

.page-left a.page-left-prev {
    display: block;
    float: left;
    width: 58px;
    height: 34px;
    border: 1px solid #607d8b;
    border-radius: 10px;
    background: url(/static/img/chaos.png) no-repeat -304px -14px #607d8b;}


.page-left a.page-left-next {
    display: block;
    float: left;
    width: 58px;
    height: 34px;
    border: 1px solid #607d8b;
    border-radius: 10px;
    background: url(/static/img/chaos.png) no-repeat -121px -14px #607d8b;
}

.go_to_page input {
    display: inline-block;
    width: 120px;
    height: 34px;
    padding: 0 10px;
    margin-left: 10px;
    border: 1px solid #607d8b;
    border-radius: 10px;
}
#search_results
{
	margin: auto;
    width: 1200px;
    height: 220px;
    margin-top: 25px;
    #box-shadow: 0 0 9px rgba(0,0,0,.24);
    padding: 12px;
    border-radius: 3px;
    background: #ebf0f7;
    font-size: 14px;
    border-radius:10px;

}